{% extends "layout.njk" %}

{% block main %}

<div class="wrapper">

  <div class="wrapper__form">
    <h1>Nova Unidade</h1>

    <form action="/admin/adicionar-unidade-process" method="POST">
      <label for="nome">Nome da Unidade</label>
      <input type="text" id="nome" name="nome">

      <label for="endereco">Endereço</label>
      <input type="text" id="endereco" name="endereco">

      <label for="numero">Número</label>
      <input type="text" id="numero" name="numero">

      <label for="complemento">Complemento</label>
      <input type="text" id="complemento" name="complemento">

      <label for="cep">CEP</label>
      <input type="text" id="cep" name="cep">

      <label for="cidade">Cidade</label>
      <input type="text" id="cidade" name="cidade">

      <label for="estado">Estado</label>
      <input type="text" id="estado" name="estado">

      <input class="btn btn--form"type="submit" value="Cadastrar">
    </form>
  </div> <!--End wrapper__form -->
</div> <!--End wrapper -->  

    

{% endblock %}