{% extends "layout.njk" %}

{% block main %}

<div class="wrapper">

  <div class="wrapper__form">
    <h1>Novo Campeonato</h1>

    <form action="/admin/adicionar-campeonato-process" method="POST">
      <label for="nome">Nome do Campeonato</label>
      <input type="text" id="nome" name="nome">

      <label for="unidade">Selecione a Unidade</label>
      <select id="unidade" name="unidade_id">
        <option value="0">Selecione</option>
        {% for item in items %}
        <option id="unidade" value="{{item.id}}">{{item.nome}}</option>
        {% endfor %}
      </select>

      <label for="data_inicio_inscricoes">Data de ínicio das incrições</label>
      <input type="date" id="data_inicio_inscricoes" name="data_inicio_inscricoes">

      <label for="data_fim_inscricoes">Data final das inscrições</label>
      <input type="date" id="data_fim_inscricoes" name="data_fim_inscricoes">

      <label for="data_inicio_jogos">Data ínicio dos jogos</label>
      <input type="date" id="data_inicio_jogos" name="data_inicio_jogos">

      <label for="data_fim_jogos">Data final dos jogos</label>
      <input type="date" id="data_fim_jogos" name="data_fim_jogos">

      <label for="data_divulgacao">Data da Divulgação</label>
      <input type="date" id="data_divulgacao" name="data_divulgacao">


      <input class="btn btn--form"type="submit" value="Cadastrar">
    </form>
  </div> <!--End wrapper__form -->
</div> <!--End wrapper -->  

    

{% endblock %}