
{% block header %}
<header>
    <a href="/"><img class="img" src="/assets/logo-sem-background.png" alt="Imagem do logo"></a>

    <nav>
      <ul>
       <li><a href="/">Inicio</a></li>
       <li><a href="/campeonatos">Campeonatos</a></li>
       {# <li><a href="#">Contato</a></li> #}
       <li class="wrapper__btn"><a href="/admin/login">Área Administrativa</a></li>
      </ul>
    </nav>
  </header>
{% endblock %}