{% extends "layout.njk" %}

{% block main %}

<div class="wrapper">

<p>Estamos trabalhando nessa página.. =)</p>
<a href="/admin/unidades">Acesse aqui Gerenciamento de Unidades e Quadras</a>



</div> <!--End wrapper -->  
{% endblock %}