{% extends "layout.njk" %}

{% block main %}

<div class="wrapper">

  <h1>Parabéns por se inscrever!</h1>
  <p>O administrador entrará em contato para informar mais detalhes</p>

  <a class="back" href="/campeonatos">Voltar</a>
</div> <!--End wrapper -->  

    

{% endblock %}