{% block nav %}

  <li><a id="unidades" href="/admin/unidades">Unidades</a></li>
  <li><a id="quadras" href="/admin/quadras">Quadras</a></li>
  <li><a id="campeonatos" href="/admin/campeonatos">Campeonatos</a></li>

{% endblock %}